.form-row {
  clear: both;
  margin-bottom: $spacing-v-fluid;
  overflow: hidden;
}

.form-col + .form-col {
  margin-top: $spacing-v-fluid;

  @include bp-1 {
    margin-top: 0;
  }
}

// Honeypot
[name="delicioushoney"] {
  display: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: $color-brand-primary;
}

form > ul {
  @extend %list-unstyled;
}

input,
textarea,
select {
  font-size: inherit;
}

textarea {
  min-height: $line-height * 6em;
  resize: vertical;
}

.radio-group {
  display: inline-block;
  margin-bottom: -0.65em;


  + input {
    margin-top: $spacing-v / 2;
  }

  label {
    float: left;

    input {
      // Tabbable
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;

      &:focus + span {
        box-shadow: inset 0 0 0 $ui-border-width*2 rgba(0, 0, 0, 0.1);
        color: $color-brand-primary;
      }

      &:checked + span {
        background-color: lighten($color-brand-primary, 30%);
        color: $color-brand-primary;
      }
    }
  }

  .btn {
    background: #eceef1;
    border: none;
    font-size: 0.65em;
    font-weight: 700;
    margin: 0 ($padding-h / 2) ($spacing-v / 2) 0;
    padding: ($padding-v * 2) $padding-h;
    text-transform: uppercase;
  }
}

@include bp-1 {
  .form-row {
    display: flex;
  }

  .form-col {
    flex: 1;
    margin: 0 10px;
  }

  .form-col:first-child{
    margin-left: 0;
  }

  .form-col:last-child{
    margin-right: 0;
  }
}

.is-invalid {
  color: #ff604d;
}

.validation-hint {
  color: #ff604d;
  display: inline-block;
  font-size: 0.75em;
  width: 100%;
}
