img {
  border-radius: $ui-border-radius-large;
  width: 100%;
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  + img {
    margin-top: $spacing-v / 2;
  }
}

img {
  margin-bottom: $spacing-v;
}

section > svg,
.wrapper > svg {
  display: block;
  margin: 0 auto $spacing-v;
}
