// Colors
$base-color: #364d63;
$base-color-dark: #2b443b;
$color-brand-light: #f3f6f9;
$color-brand-primary: #4dadff;

// UI
$ui-border-radius: 0.25em;
$ui-border-radius-large: $ui-border-radius * 1.5;

$link-color: $color-brand-primary;

$font-hand: "Amatic SC", sans-serif;
