/*
The main SCSS file for everything, yep
*/

@import "base/variables";

@import "../../../node_modules/redbullet-styleguide/src/scss/styleguide";
@import "../../../node_modules/flickity/css/flickity";


// Base
@import "base/forms";
@import "base/helpers";
@import "base/layout";
@import "base/media";
@import "base/tables";
@import "base/typography";

// Components
@import "components/buckets";
@import "components/buttons";
@import "components/gallery";
@import "components/hero";
@import "components/masthead";
@import "components/thanks";
@import "components/pikaday";


h1,
h2,
h3,
p {
  opacity: 0;
  transition: opacity .2s ease-in-out;

  .wf-active & {
    opacity: 1;
  }
}

// ------- SHAME

svg {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: #0F0;
}

.section-icon {
  width: 96 / 16 * 1em;
  margin: auto;
}
