.flickity-page-dots .dot {
  background-color: #eceef1;
  opacity: 1;
}

.flickity-page-dots .dot.is-selected {
  background-color: $color-brand-primary;
}

.gallery {
  margin-bottom: 4em;
  white-space: nowrap;
}

.gallery-cell {
  width: auto;
  height: 12em;
  margin-right: 10px;
  counter-increment: gallery-cell;
  display: inline-block;


  @include bp-1 {
    height: 22em;
  }

  @include bp-2 {
    height: 25em;
  }

  @include bp-3 {
    height: 28em;
  }
}

.flickity-prev-next-button {
  display: none;
}
