.masthead {
  background-color: $color-brand-primary;
  padding: $padding-v $padding-h;
  text-align: center;

  @include bp-1 {
    align-items: center;
    display: flex;
    //flex-flow: row wrap; // Not supported Android <= 4.3
    justify-content: space-between;
  }

  &-brand {
    padding: $padding-v $padding-h;
    position: relative;
    top: -0.3em;
    width: 100%;
    text-align: center;

    @include bp-1 {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      max-width: 8em;
    }
  }

  &-logo {
    width: 110 / 16 * 1em;
    height: auto;
    display: block;
    margin: auto;

    img {
      margin-bottom: 0;
    }
  }

  &-nav {
    @extend %list-unstyled;
    color: white;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;

    @include bp-1 {
      display: flex;
    }

    &-item {
      display: inline-block;
    }

    &-link {
      color: white;
      display: block;
      padding: $padding-v ($padding-h / 2);

      @include bp-1 {
        &:hover {
          background-color: #67B9FF;
          border-radius: 5em;
        }
      }

      &:hover,
      &:focus {
        color: inherit;
      }

      @include bp-1 {
        padding: $padding-large $padding-h;
      }
    }
  }

  &-booking {
    border-bottom: solid 2px #ffff66;
    color: #ffff66;
    padding-bottom: 0.25em;
    position: relative;
    top: 2px;

    @include bp-1 {
      background-color: #ffff66;
      border: none;
      border-radius: 5em;
      color: #222;
      padding: $padding-large $padding-h;
      top: 0;
    }
  }
}
