.thanks {
  background: url(/assets/images/success-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
  margin-left: -5em;
  padding: 5em;
  position: relative;
  width: calc(100% + 10em);
  display: none;
}
